    <br>
    <br>
    <div class="container">
   <div class="row">
            <div class="col featured-item">
              <center>
                 <h1>Deposits Details</h1>  
                    <table class= "myTable" style="width: 50%">
                    <tr>
                       <th>Deposit Id</th>
                       <th>Date</th>
                       <th>Total amount</th>
                       <th>Status</th>
                    </tr>
                    <% @deposits.each do |deposit| %>
                    <tr>
                         <td><%= deposit.ref_id %></td>
                         <td><%= deposit.created_at.strftime("%y-%m-%d") %></td>
                         <td><%= deposit.amount %></td>
                         <td><%= deposit.status %></td>
                    </tr>
                    <% end %>
                 </table> 
              </center>
          </div>
    </div>
</div>
  <style>
.myTable { 
  width: 100%;
  text-align: left;
  background-color: white;
  border-collapse: collapse; 
  }
.myTable th { 
  background-color: lightgreen;
  color: salmon; 
  }
.myTable td, 
.myTable th { 
  padding: 10px;
  border: 1px solid black; 
  }
  tr:nth-child(even) {background-color: #F0ffff;}
    </style>