    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Welcome to Mini Store!</h2>
              <div class="line-dec"></div>
              <p>this is the website that you can buy your needs that contains lower prices and lots of discounts <strong>More than 20 products</strong> included.</p>
              <div class="main-button">
                <a href="/product/products">Order Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Copyright &copy; 2021 Mini Store 
                
                - Design: <a rel="nofollow" href="https://www.google.com/https://neilpatel.com/wp-content/uploads/2015/04/ecommerce.jpg">VIKAS</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sub Footer Ends Here -->


    <!-- Bootstrap core JavaScript -->
