<div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <center>
                 <h4>Search Product</h4><br>
                 <%= form_tag(search_product_path, :method => "get") do %>
                   Name:<%= text_field_tag "name", params[:name], id: 'name' %>
                  <button id="search" onclick="send()" class = "btn btn-success"><% submit_tag("search") %>search</button>
                 <% end %>
              </center>
            </div>
          </div>
        </div>
      </div>
</div>
<script>
  const show_btn = document.querySelector('#search');
  var wage = document.getElementById("name");
  var i = 0
   hideBtn([show_btn]);
   wage.onkeyup = function(e){
    console.log(wage.value.length);
     e = e || window.event;
     if(wage.value.length > 2) {
        console.log("pyte")
        showBtn([show_btn])
      }
      if(wage.value.length <= 2){
        hideBtn([show_btn]);
      }

}
function showBtn(btnArr) {
  btnArr.forEach((btn) => (btn.style.display = 'inline-block'));
}
function hideBtn(btnArr) {
  btnArr.forEach((btn) => (btn.style.display = 'none'));
}
</script>




