
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <center>
                <h1>Available Balance:</h1>
                  <%= @wallet.balance rescue 0 %><br>
                  <%= link_to "Deposite money", new_wallet_path(id: current_user.id) %><br>
                  <%= link_to "Back" , root_path %>
               </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    